<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Greetings {{ name }}</title>
</head>

<body>
    <h1>
        <p>Hello, {{ name }}.</p>
    </h1>
    <p>Today is {{ date }}. Have a nice day.</p>
</body>

</html>